@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  --white: hsl(0, 0%, 100%);

  --bg-light: hsl(0, 0%, 100%);
  --bg: hsl(0, 0%, 95%);
  --bg-testimonials: hsl(203, 90%, 39%);

  --text-color-light: 	hsl(0, 0%, 27%);
  --text-color-normal: hsl(0, 0%, 0%);

  --heading-color: hsl(210, 60%, 62%);
  --heading-color-dark: hsl(203, 90%, 39%);

  --button-color: hsl(210, 60%, 62%);
  --button-color-dark:  hsl(203, 90%, 39%);

  --bg-status: hsl(0, 0%, 27%);
  --status-text: hsl(0, 0%, 100%);
  --status-border: hsl(0, 0%, 100%);

  --bg-contact: hsl(0, 0%, 95%);
  --contact-color: hsl(203, 90%, 39%);

  --bg-sponsors: hsl(0, 0%, 100%);
  --heading-sponsors: hsl(210, 60%, 62%);

  --acent-color-normal:  hsl(210, 60%, 62%);
}

html[data-theme="dark"] {
  --bg-light: hsl(0, 0%, 40%);
  --bg: hsl(0, 0%, 17%);
  --bg-testimonials:  hsl(349, 100%, 40%);
  
  --text-color-light: hsl(0, 0%, 100%);
  --text-color-normal: hsl(0, 0%, 95%);

  --heading-color: hsl(360, 100%, 49%);
  --heading-color-dark: hsl(360, 99%, 38%);

  --button-color: hsl(360, 80%, 49%);
  --button-color-dark:  hsl(360, 99%, 38%);

  --bg-contact: hsl(0, 0%, 27%);
  --contact-color: hsl(0, 0%, 100%);

  --bg-sponsors: hsl(0, 0%, 95%); 
  --heading-sponsors: hsl(0, 0%, 17%);

  --acent-color-normal:  hsl(360, 100%, 49%);
}

@mixin transition { transition: all 0.3s ease-out; }

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

body {
  background: var(--bg);
  font-family: 'Montserrat', 'Verdana', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.navbar {
  background: var(--bg-light);
  padding: 1em;

  .logo {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color-normal);
    font-size: 1.2em;

    &:hover {
      animation: color-rotate 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    span {
      color: var(--acent-color-normal);
      cursor: pointer;
    }
  }

  nav { 
    display: none;

    a {
      cursor: pointer;
    }

    input[type=checkbox] {
      display: none;
    }

    label {
      display: none;
    }
  }
  
  .container {
    display: flex;
    place-content: space-between;
  }

  .mobile-menu { cursor: pointer; }
}

a { color: var(--text-color-light); }

ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

section { padding: 5em 2em; }

.hero { text-align: center; }

.left-col {

  .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--text-color-light);
    letter-spacing: .3em;
  }

  h1 {
    color: var(--text-color-light);
    margin-top: .2em;
    font-size: 2.5em;
    line-height: 1.3em;
  }

  .primary-cta {
    position: relative;
    display: inline-block;
    color: var(--white);
    font-weight: bold;
    padding: .6em 1.3em;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .15rem;
    text-decoration: none;
    transition: all .3s;
    overflow: hidden;
    z-index: 1;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--button-color);
      border-radius: 10rem;
      z-index: -2;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: var(--button-color-dark);
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }

    &:hover {
      color: var(--white);

      &:before {
        width: 100%;
      }
    }
  }
}

/* Main Image
---------------*/
.hero-img {
  width: 60%;
  margin-top: 3em;
}

/* Status Section
------------------*/ 
.status-section {
  background-color: var(--bg-status);
  padding: .2em;
}

.wrapper {
    padding: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
}

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    justify-content: space-around;
    margin-top: 1.5em;

    li {
        color: var(--status-text);
        margin-bottom: 0.6em;
    }

    strong {
        font-size: 1.4em;
    }

    span {
        display: block;
        text-transform: uppercase;
        font-size: .75em;
    }
}

/* Testimonal Section
-----------------------*/ 
.testimonials-section {
  background: var(--bg-testimonials);
  color: var(--white);

  li {
    background: var(--acent-color-normal);
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    margin: 0 auto 5em auto;
    border-radius: 1em;

    img {
      width: 5em;
      height: 5em;
      border: 5px solid var(--acent-color-normal);
      border-radius: 50%;
      margin-top: -4.5em;
    }
  }
}

/* Contact Section
--------------------*/
.flex-container {
  background-color: var(--bg-contact);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  width: 80%;
  padding: 20px;

  h2 {
    width: 100%;
    color: var(--contact-color);
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .row {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    .col {
      position: relative;
      width: 100%;
      padding: 0 10px;
      margin: 30px 0 10px;
      transition: 0.5s;
    }
  }
  
  .input-box {
    position: relative;
    width: 100%;
    height: 40px;
    color: var(--contact-color);
    
    input {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;
      box-shadow: none;
      border: none;
      outline: none;
      font-size: 18px;
      padding: 0 10px;
      z-index: 1;
      color: var(--bg-contact);

      &:focus + .text,
      &:valid + .text {
        top: -35px;
        left: -10px;
      }
      
      &:focus ~ .line,
      &:valid ~ .line {
        height: 100%;
      }
    }
    
    .text {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 40px;
      font-size: 18px;
      padding: 0 10px;
      display: block;
      transition: 0.5s;
      pointer-events: none;
    }
    
    .line {
      position: absolute;
      bottom: 0;
      display: block;
      width: 95%;
      height: 2px;
      background-color: var(--contact-color);
      transition: 0.5s;
      border-radius: 2px;
      pointer-events: none;
    }

    .line-textarea {
      width: 97.5%;
    }
  }
  
  .input-box.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: var(--bg-contact);
    
    .textarea {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 10px 0;

      textarea {
        height: 100%;
        resize: none;
      }
    }
    
    &:focus + .text,
    &:valid + .text {
      top: -35px;
      left: -10px;
    }

    &:focus ~ .line,
    &:valid ~ .line {
      height: 100%;
    }
  }

  input[type="submit"] {
    width: 97.5%;
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: var(--contact-color);
    color: var(--bg-contact);
    font-size: 18px; 
    border-radius: 5px;
  }
  
}

/* Menu Navbar
---------------*/ 
nav.menu-btn { display: block; }

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 99vh;
  padding: 1em;

  ul.primary-nav { margin-top: 5em; }

  li {      
    
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: .5em;
      font-size: 1.3em;
      text-align: right;
      @include transition;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

/* Sponsors !
 ------------ */
.section-sponsors {
  background-color: var(--bg-sponsors);
  padding: 1em;

  h2 {
    color: var(--heading-sponsors);
  }
}

.sponsors {
  text-align: center;
  opacity: .4;

    li {
        margin: 2em 0;
    }

    .logo-one {
        width: 150px;
    }

    .logo-two {
        width: 200px;
    }
}

/* Media Querys ~
 ------------------ */
@media (min-width: 500px) {
    .sponsors {
        display: grid;
        grid-template-columns: repeat(2,auto);
    }
}

@media only screen and (min-width: 768px) {
  /* Navbar - x
  ----------- */
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;

    ul { display: flex; }

    a {
      color: var(--text-color-normal);
      font-size: 1em;
      padding: .1em 1em;
    }

    ul.primary-nav {
      margin: 0;
    }

    li.current a {
      font-weight: bold;
    }

    li.togle-switch {
      margin-top: -21.5px;
    }
  }

  /* Togle-Switch
  ----------------*/
  // Display checkbox [Desktop]
  .navbar {
    nav {
      input[type=checkbox] {
        display: inline;
      }

      label {
        display: block;
      }
    }
  }

  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 22px;
    background: var(--button-color);
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 90px;
    transition: 0.4s;
  }

  input:checked + label {
    background: hsl(360, 100%, 49%);

  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 30px;
  }
  
  /* Status Section
  ------------------*/
  .wrapper {
    padding: 1.5em 4em;
   } 

  .stats {
      display: flex;
      justify-content: space-between;
      margin: 0;
   }

  .stats li {
      border-right: 1px solid var(--status-border);
      padding-right: 4%;

      &:last-child {
          border: -1;
      }
   }

  /* Scrollbar 
  -------------*/
  html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
}

@media only screen and (min-width: 1080px) {

   /* General 
   ---------- */
  .container {
    width: 1080px;
    margin: 0 auto;
  }

  section { padding: 10em 4em; }

   /* Hero Section 
   ---------------- */
  .hero .container {
    display: flex;
    justify-content: space-between;
    text-align: left;

    .left-col {
      margin: 3em 3em 0 5em;

      h1 {
        font-size: 3em;
        width: 90%;
      }
    }
  }

  .hero-img {
    width: 30%;
    margin-right: 8em;
  }

  .hero-cta { display: flex; } 
  
  .primary-cta { margin-right: 1em; }

   /* Testimonial Section 
   ----------------------- */
  .testimonials-section ul {
    display: flex;
      
    li { margin: 0 1em; }
  }
}

@media only screen and (min-width: 1330px) {
  // Change font size
  html { font-size: 17px }
  .hero-img {
    width: 40%;
    margin-right: 6em;
  }
}
 
@media only screen and (min-width: 1430px) {
  // Change font size
  html { font-size: 18px }
  .hero {
    container {
      width: 1400px;
      margin-top: -9rem;

      .subhead {
        margin-right: 19em;
        padding: 9em;
      }
    }
  }
  .hero-img {
    width: 50%;
    margin-right: 3em;
  }

  .hero .container {
    margin-right: 20em;   

    .left-col {
      margin: 5em 2em 0 5em;

      h1 {
        font-size: 3em;
        width: 100%;
      }
    }
  }
}
